<%= form_for(trip) do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="email">Trip Number</label>
    <%= f.text_field :trip_number %>
  </div>

  <div class="form-group">
    <label for="multi_page">Multiple Pages</label>
      <%= f.radio_button :multi_page, 'yes' %>Yes
      <%= f.radio_button :multi_page, 'no' %>No
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.text_field :sap_number %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.text_field :contact_person %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.text_field :purpose %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.text_field :place %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.time_select :meeting_time %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.date_select :meeting_date %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.time_select :begin_time %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.time_select :end_time %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.date_select :begin_date %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.date_select :end_date %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.text_field :accompanied_by %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.text_field :travel_estimate %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.text_field :food_estimate %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.text_field :lodging_estimate %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.text_field :fee_estimate %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.text_field :conference_fee %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.text_field :banquet_fee %>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%= f.text_field :dues %>
  </div>

  <div class="form-group">
    <label for="email">Employee ID</label>
    <%= f.text_field :employee_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
