<button onclick="hideDiv()">Click Me</button>
<div class="form-profile col-md-offset-2 col-md-8 well">
<img width="100%" height="100%" src="https://images-na.ssl-images-amazon.com/images/G/01/img15/pet-products/small-tiles/23695_pets_vertical_store_dogs_small_tile_8._CB312176604_.jpg">
  <img width="100%" height="100%" src="http://img.huffingtonpost.com/asset/,scalefit_950_800_noupscale/55fc14631c00004800082775.jpeg">
<p id="notice"><%= notice %></p>
<table class="table">
  <tr>
    <td>
      <strong>Trip number:</strong>
      <%= @trip.trip_number %>
    </td>
    <td>
      <strong>Contact person:</strong>
      <%= @trip.contact_person %>
    </td>
    <td>
      <strong>Begin time:</strong>
      <%= @trip.begin_time %>
    </td>
    <td>
      <strong>Begin date:</strong>
      <%= @trip.begin_date %>
    </td>
    <td>
      <strong>End date:</strong>
      <%= @trip.end_date %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Purpose:</strong>
      <%= @trip.purpose %>
    </td>
  </tr>
</table>
<table id="hide" class="table">
  <tr>
    <td>
      <strong>Sap number:</strong>
      <%= @trip.sap_number %>
    </td>
    <td>
      <strong>Accompanied by:</strong>
      <%= @trip.accompanied_by %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Place:</strong>
      <%= @trip.place %>
    </td>
    <td>
      <strong>Dues:</strong>
      <%= @trip.dues %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Meeting date:</strong>
      <%= @trip.meeting_date %>
    </td>
    <td>
      <strong>Meeting time:  </strong>
      <%= @trip.meeting_time %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Begin time:</strong>
      <%= @trip.begin_time %>
    </td>
    <td>
      <strong>End time:</strong>
      <%= @trip.end_time %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Travel estimate:</strong>
      <%= @trip.travel_estimate %>
    </td>
    <td>
      <strong>Food estimate:</strong>
      <%= @trip.food_estimate %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Lodging estimate:</strong>
      <%= @trip.lodging_estimate %>
    </td>

    <td>
      <strong>Conference fee:</strong>
      <%= @trip.conference_fee %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Banquet fee:</strong>
      <%= @trip.banquet_fee %>
    </td>
    <td>
      <strong>Fee estimate:</strong>
      <%= @trip.fee_estimate %>
    </td>
  </tr>
</table>
  <br><br>
  <% @trip.purchases.each do |purchase| %>
      <table>
      <tr>
        <td>Category</td>
        <td>Type</td>
        <td>Amount</td>
        <td>Description</td>
      </tr>
      <tr>
        <td><%= purchase.category %></td>
        <td><%= purchase.tipe %></td>
        <td>$<%= purchase.amount %></td>
        <td><%= purchase.description %></td>
      </tr>
      </table>
      <br>
  <% end %>

  <%= link_to 'Edit', edit_trip_path(@trip) %> |
  <%= link_to 'Back', trips_path %>


</div>