

  <!--
<img width="100%" height="100%" src="https://images-na.ssl-images-amazon.com/images/G/01/img15/pet-products/small-tiles/23695_pets_vertical_store_dogs_small_tile_8._CB312176604_.jpg">
  <img width="100%" height="100%" src="http://img.huffingtonpost.com/asset/,scalefit_950_800_noupscale/55fc14631c00004800082775.jpeg">
-->
<br>
<p id="notice" style="text-align: center"><%= notice %></p>
<% @trips.each do |trip| %>
  <div class="form-profile col-md-offset-2 col-md-8 well">

<table class="table">
  <tr>
    <td>
      <strong>Trip number:</strong>
      <%= trip.trip_number %>
    </td>
    <td>
      <strong>Contact person:</strong>
      <%= trip.contact_person %>
    </td>
    <td>
      <strong>Begin time:</strong>
      <%= @trip.try(:begin_time).try(:strftime, '%I:%M %p') %>
    </td>
    <td>
      <strong>Begin date:</strong>
      <%= trip.begin_date %>
    </td>
    <td>
      <strong>End date:</strong>
      <%= trip.end_date %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Purpose:</strong>
      <%= trip.purpose %>
    </td>
    <td></td>
    <td></td>
    <td><%= link_to 'Edit', edit_trip_path(trip), class: "btn btn-primary" %></td>
    <td align="right">
      <a data-toggle="collapse" href="" onmouseover="assignId(), assignLink()" class="currentLink"><button class="btn btn-primary" >More</button></a>
    </td>
  </tr>
</table>
<div class="current collapsing" style="height: 0px" aria-expanded="false">
<table id="" class="table" >
  <tr>
    <td>
      <strong>Sap number:</strong>
      <%= trip.sap_number %>
    </td>
    <td>
      <strong>Accompanied by:</strong>
      <%= trip.accompanied_by %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Place:</strong>
      <%= trip.place %>
    </td>
    <td>
      <strong>Dues:</strong>
      <%= trip.dues %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Meeting date:</strong>
      <%= trip.meeting_date %>
    </td>
    <td>
      <strong>Meeting time:  </strong>
      <%= @trip.try(:meeting_time).try(:strftime, '%I:%M %p') %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Begin time:</strong>
      <%= @trip.try(:begin_time).try(:strftime, '%I:%M %p') %>
    </td>
    <td>
      <strong>End time:</strong>
      <%= @trip.try(:end_time).try(:strftime, '%I:%M %p') %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Travel estimate:</strong>
      <%= trip.travel_estimate %>
    </td>
    <td>
      <strong>Food estimate:</strong>
      <%= trip.food_estimate %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Lodging estimate:</strong>
      <%= trip.lodging_estimate %>
    </td>

    <td>
      <strong>Conference fee:</strong>
      <%= trip.conference_fee %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Banquet fee:</strong>
      <%= trip.banquet_fee %>
    </td>
    <td>
      <strong>Fee estimate:</strong>
      <%= trip.fee_estimate %>
    </td>
  </tr>
</table>
</div>
  <%= link_to 'New Purchase', new_purchase_path(:id => trip.id), class: 'btn btn-primary' %>

  <br><br>
  <table class="table">
    <tr>
      <th>Category</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Description</th>
      <th align="right"></th>
    </tr>

  <% trip.purchases.each do |purchase| %>

      <tr>
        <td><%= purchase.category %></td>
        <td><%= purchase.tipe %></td>
        <td>$<%= purchase.amount %></td>
        <td><%= purchase.description %></td>
        <td width="10%"><%= link_to 'Edit', edit_purchase_path(purchase), class: 'btn btn-primary' %></td >
      </tr>

  <% end %>
    </table>
  </div>
  <% end %>

</body>