<p id="notice"><%= notice %></p>

<br>
<strong>User:</strong>
<%=  %>

<br>
<strong>Trip number:</strong>
<%= @trip.trip_number %>

<br>
<strong>Multi page:</strong>
<%= @trip.multi_page %>

<br>
<strong>Sap number:</strong>
<%= @trip.sap_number %>

<br>
<strong>Contact person:</strong>
<%= @trip.contact_person %>

<br>
<strong>Purpose:</strong>
<%= @trip.purpose %>

<br>
<strong>Place:</strong>
<%= @trip.place %>

<br>
<strong>Meeting time:</strong>
<%= @trip.meeting_time %>

<br>
<strong>Meeting date:</strong>
<%= @trip.meeting_date %>

<br>
<strong>Begin time:</strong>
<%= @trip.begin_time %>

<br>
<strong>End time:</strong>
<%= @trip.end_time %>

<br>
<strong>Begin date:</strong>
<%= @trip.begin_date %>

<br>
<strong>End date:</strong>
<%= @trip.end_date %>

<br>
<strong>Accompanied by:</strong>
<%= @trip.accompanied_by %>

<br>
<strong>Travel estimate:</strong>
<%= @trip.travel_estimate %>

<br>
<strong>Food estimate:</strong>
<%= @trip.food_estimate %>

<br>
<strong>Lodging estimate:</strong>
<%= @trip.lodging_estimate %>

<br>
<strong>Fee estimate:</strong>
<%= @trip.fee_estimate %>

<br>
<strong>Conference fee:</strong>
<%= @trip.conference_fee %>

<br>
<strong>Banquet fee:</strong>
<%= @trip.banquet_fee %>

<br>
<strong>Dues:</strong>
<%= @trip.dues %>

<br>
<strong>Employee:</strong>
<%= @trip.employee %>
<br><br>
<% @trip.purchases.each do |purchase| %>
    <table>
      <tr>
        <th>Category</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><%= purchase.category %></td>
        <td><%= purchase.tipe %></td>
        <td>$<%= purchase.amount %></td>
        <td><%= purchase.description %></td>
      </tr>
    </table>
    <br>
<% end %>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
