
<nav class="navbar navbar-inverse" >
  <div class="container-fluid">

    <!-- Logo -->
    <div class="navbar-header">
      <a class="brand" href="#">
        <img id="brand-image" alt="Website Logo" src="http://communications.olemiss.edu/wp-content/uploads/sites/5/2014/10/stacked-no_stroke-red.png">
      </a>


      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>




    <!-- Menu -->
    <div class="collapse navbar-collapse" id="mainNavBar">
      <ul class="nav navbar-nav">
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Register</a></li>
        <li><a href="/help">Contact/Help</a></li>

      </ul>
      <a class="navbar-brand navbar-right" href="https://www.olemiss.edu/">
        OleMiss
      </a>
    </div>

  </div>
</nav>


<br><br>


<!--Ole Miss Logo -->
<div class = "row">
  <div class ="col-md-4 col-md-offset-4 text-center">
    <div class = "media" >
      <img src="images/uomlogo.png" alt = "Ole Miss Logo" />
    </div>
  </div>
</div>


<!-- Member Login -->
  <div class="row">
    <div class="wrap-login col-md-4 col-md-offset-4">
    <h2 class="member-logo text" style="margin-bottom: 30px;">Member Login</h2>


    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control', placeholder: "email@go.olemiss.edu" %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', placeholder: "password" %>
        <br>
        <%= f.submit 'Log in', class: 'btn btn-primary' %>
    <% end %>


  </div>
</div>



<!-- Need Help Text-Hyperlink-->
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <h2 class="help-logo text" style="margin-bottom: 10px;">Need Help?</h2>
  </div>
</div>

<!-- Forgot Password Text-Hyperlink-->
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p class = "text-center" style="margin-top: 10px;">
      <a href="">Forgot password? Click here</a>
    </p>
  </div>


  <!-- Not a Member Text-Hyperlink-->
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p class = "text-center" style="margin-bottom: 10px;">
        <a href="/signup">Not a Member? Register here</a>
      </p>
    </div>
  </div>


</div>
