<div class="form-profile col-md-offset-2 col-md-8 well">

<% @employee.trips.sort { |a,b| b.begin_date <=> a.begin_date }.each do |trip| %>

    <table class="table">
      <tr>
        <th>Trip number</th>
        <th>Begin Date</th>
        <th>End Date</th>
        <th>Purpose</th>
      </tr>
      <tr>
        <td><%= trip.trip_number %></td>
        <td><%= trip.begin_date %></td>
        <td>$<%= trip.end_date %></td>
        <td><%= trip.purpose %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Show', trip, class: 'btn btn-primary' %></td>

      </tr>
    </table>

    <br>
<% end %>
</div>