<nav class="navbar navbar-inverse" >
  <div class="container-fluid">

    <!-- Logo -->
    <div class="navbar-header">
      <a class="navbar-brand">
        OleMiss
      </a>


      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>




    <!-- Menu -->
    <div class="collapse navbar-collapse" id="mainNavBar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Current Trip</a></li>
        <li><a href="#">Past Trips</a></li>
        <li><a href="#">Contact/Help</a></li>

      </ul>
      <a class="navbar-brand navbar-right">
        OleMiss
      </a>
    </div>

  </div>
</nav>

<p id="notice"><%= notice %></p>

<p>
  <strong>Sap number:</strong>
  <%= @employee.sap_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department %>
</p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @employee.phone_number %>
</p>

<p>
  <strong>Username:</strong>
  <%= @employee.username %>
</p>



<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
