
<div class="form-profile col-md-offset-2 col-md-8 well text-center">
  <p id="notice">
    <%= notice %>
  </p>
<table class="table">



    <tr>
  <td>
    <strong>Email:</strong>
    <%= @employee.email %>
  </td>
    </tr>

  <tr>
  <td>
    <strong>First name:</strong>
    <%= @employee.first_name %>
  </td>
  </tr>

  <tr>
  <td>
    <strong>Last name:</strong>
    <%= @employee.last_name %>
  </td>

  </tr>

  <tr>
  <td>
    <strong>Username:</strong>
    <%= @employee.username %>
  </td>

  </tr>
  <tr>
  <td>
    <strong>Sap number:</strong>
    <%= @employee.sap_number %>
  </td>
  </tr>

  <tr>
  <td>
    <strong>Department:</strong>
    <%= @employee.department %>
  </td>
  </tr>
  
<tr>
  <td>
    <strong>Phone number:</strong>
    <%= @employee.phone_number %>
  </td>
</tr>
  <tr>
    <td>
      <%= link_to 'Edit', profile_edit_path, class: "btn-login btn btn-primary" %>
    </td>
  </tr>
</table>
</div>

<%= link_to 'Back', employees_path %>
