<p id="notice"><%= notice %></p>

<p>
  <strong>D8:</strong>
  <%= @day_table.d8 %>
</p>

<p>
  <strong>Trip number:</strong>
  <%= @day_table.trip_number %>
</p>

<p>
  <strong>String:</strong>
  <%= @day_table.string %>
</p>

<p>
  <strong>Breakfast:</strong>
  <%= @day_table.breakfast %>
</p>

<p>
  <strong>Lunch:</strong>
  <%= @day_table.lunch %>
</p>

<p>
  <strong>Dinner:</strong>
  <%= @day_table.dinner %>
</p>

<p>
  <strong>Breakfast tip:</strong>
  <%= @day_table.breakfast_tip %>
</p>

<p>
  <strong>Lunch tip:</strong>
  <%= @day_table.lunch_tip %>
</p>

<p>
  <strong>Dinner tip:</strong>
  <%= @day_table.dinner_tip %>
</p>

<p>
  <strong>Lodging:</strong>
  <%= @day_table.lodging %>
</p>

<p>
  <strong>Business calls:</strong>
  <%= @day_table.business_calls %>
</p>

<p>
  <strong>Transport start:</strong>
  <%= @day_table.transport_start %>
</p>

<p>
  <strong>Transport end:</strong>
  <%= @day_table.transport_end %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @day_table.mileage %>
</p>

<p>
  <strong>Personal car:</strong>
  <%= @day_table.personal_car %>
</p>

<p>
  <strong>Float:</strong>
  <%= @day_table.float %>
</p>

<p>
  <strong>Rental car:</strong>
  <%= @day_table.rental_car %>
</p>

<p>
  <strong>Float:</strong>
  <%= @day_table.float %>
</p>

<p>
  <strong>Bus train:</strong>
  <%= @day_table.bus_train %>
</p>

<p>
  <strong>Float:</strong>
  <%= @day_table.float %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @day_table.tax %>
</p>

<p>
  <strong>Airfare:</strong>
  <%= @day_table.airfare %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @day_table.parking %>
</p>

<p>
  <strong>Gasoline:</strong>
  <%= @day_table.gasoline %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @day_table.trip %>
</p>

<%= link_to 'Edit', edit_day_table_path(@day_table) %> |
<%= link_to 'Back', day_tables_path %>
