<nav class="navbar navbar-inverse" >
  <div class="container-fluid">

    <!-- Logo -->
    <div class="navbar-header">
      <a class="navbar-brand">
        OleMiss
      </a>


      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>




    <!-- Menu -->
    <div class="collapse navbar-collapse" id="mainNavBar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Current Trip</a></li>
        <li><a href="#">Past Trips</a></li>
        <li><a href="#">Contact/Help</a></li>

      </ul>
      <a class="navbar-brand navbar-right">
        OleMiss
      </a>
    </div>

  </div>
</nav>

<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @purchase.date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @purchase.category %>
</p>

<p>
  <strong>Tipe:</strong>
  <%= @purchase.tipe %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @purchase.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @purchase.description %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @purchase.trip %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
